languageCode = 'en-us'
isMultiLingual = false
title = "Coding in Old Entish"

enableRobotsTXT = true

outputs.home = ["HTML", "RSS"]

[taxonomies]
  tag = 'tags'

[markup]
  [markup.highlight]
    codeFences = false
    lineNumbersInTable = false
    style = ""

[privacy]
  [privacy.disqus]
    disable = true
  [privacy.googleAnalytics]
    disable = true
  [privacy.instagram]
    simple = true
  [privacy.twitter]
    enableDNT = true
  [privacy.vimeo]
    enableDNT = true
  [privacy.youtube]
    privacyEnhanced = true

[deployment]
  order = ["^(css|js|fonts)/", "\\.(png|jpg|jpeg|gif|ico)$"]

  [[deployment.targets]]
  name = "staging"
  URL = "gs://staging.chandlerc.blog"

  [[deployment.targets]]
  name = "production"
  URL = "gs://chandlerc.blog"

  [[deployment.matchers]]
  pattern = "^(css|js)/.*$"
  cacheControl = "public, max-age=31536000, immutable"
  gzip = true

  [[deployment.matchers]]
  pattern = "^fonts/.*$"
  cacheControl = "public, max-age=31536000, immutable"

  [[deployment.matchers]]
  pattern = "^.*\\.(png|jpg|jpeg|gif|ico)$"
  cacheControl = "public, max-age=604800"

  [[deployment.matchers]]
  pattern = "^.*\\.(html|xml|json|txt|md)$"
  cacheControl = "no-cache, max-age=0, s-maxage=300, stale-while-revalidate=3600"
  gzip = true
