<pre><code
  {{- with .Get "lang" }} class="language-{{ . }}"{{ end -}}
  {{- with .Get "line-numbers" }} data-line-numbers="{{ . }}"{{ end -}}
  {{- with .Get "ln-start-from" }} data-ln-start-from="{{ . }}"{{ end -}}
>
{{- /* If we got a file, first splat that out. */ -}}
{{- $file := .Get 0 -}}
{{- with $file -}}
  {{- $file | readFile | htmlEscape -}}
{{- end -}}
{{- with .Inner -}}
  {{- $str := . -}}
  {{- if hasPrefix $str "\n" -}}
    {{- $str = substr $str 1 -}}
  {{- end -}}
  {{- $str | htmlEscape -}}
{{- end -}}
</code></pre>
